.btn {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

  text-align: center;
  text-transform: uppercase;
}

.save-btn {
  width: 100%;
  margin-top: 10px;
}

.back-btn {
  height: 50px;
  font-size: 18px;
}

.sound-input {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  opacity: 0;
}

.sound-label {
  position: relative;
  width: 50px;
  height: 50px;
  background: url("../../assets/sound.png") center center/cover no-repeat;
}

label.sound-off {
  background: url("../../assets/no-sound.png") center center/cover no-repeat;
}
