main {
  max-width: 800px;
  min-height: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
}

button.add-btn {
  display: block;

  width: 100%;
  margin-top: 10px;

  text-align: center;
  text-transform: uppercase;
}
