.error-block {
  font-size: 32px;
  text-align: center;
}

button.back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;

  color: white;

  background-color: darkblue;
}
