li {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;

  width: auto;
  max-width: 100%;
  min-height: 40px;
  padding: 10px;
  border: 1px solid black;
}

.btn {
  cursor: pointer;

  flex-shrink: 1;

  min-width: auto;
  min-height: 25px;
  border: 1px solid black;
}

input {
  flex-shrink: 1;
  min-width: 20px;
  min-height: 25px;
}

label {
  flex-shrink: 1;
  font-size: 20px;
}
