.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: 0.5;
  background-color: black;
}

body {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  max-width: 90vw;
  height: 500px;
  max-height: 90vh;
  border: 1px solid black;

  background: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

button {
  cursor: pointer;

  min-width: 100px;
  padding: 5px;
  border: 1px solid black;

  font-size: 20px;
  text-transform: uppercase;
}
