.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0 0 0 / 50%);
}

body {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.modal {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 400px;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  padding: 10px;
  border: 1px solid black;

  background: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

button {
  cursor: pointer;

  min-width: 100px;
  padding: 5px;
  border: 1px solid black;

  font-size: 20px;
  text-transform: uppercase;
}
