textarea {
  resize: none;

  width: 80%;
  height: 300px;
  border: 1px solid black;

  background-color: white;
}

.btns-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  width: 82%;
}
